.input_text {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text-default);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input_text:focus {
    color: var(--color-text-default);
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

label {
    text-transform: uppercase;
    font-size: small;
}

input.inValid {
    border-color: var(--color-invalid);
    background-image: url("./info_red.svg");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    /* background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem); */
}
input.valid {
    border-color: var(--color-valid);
    background-image: url("./check_green.svg");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
}

.input_wrapper > small.valid {
    color: var(--color-valid);
}
.input_wrapper > small.inValid {
    color: var(--color-invalid);
}
