.left_side_menu {
    position: absolute;
    display: none; /* flex */
    flex-direction: column;
    background-color: rgba(0, 0, 0, .85);
    box-shadow: 5px 6px 13px 3px grey;
    height: -webkit-fill-available;
    padding: 1rem;
}

.left-side-menu__body {
    padding: 2rem 0 2rem 0;
}

.left-side-menu__close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    background-image: url("./close.svg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    filter: invert(1);
    cursor: pointer;
}
.left-side-menu__close:hover {
    border-radius: 0.1rem;
    box-shadow: 0 0 0 0.25rem rgba(49, 51, 50, 0.5);
}

.left-side-menu__footer {
    display: flex;
    justify-content: flex-end;
    color: grey;
    padding: 2rem;
    font-size: .7rem;
    border-top: 1px solid grey;
}

.side_menu__items {
    display: flex;
    flex-direction: column;
    /* padding-left: 1rem; */
}

a.side_menu__item {
    display: flex;
    align-items: center;
    height: 2rem;
    border-radius: 5px;
    padding: 0.5rem;
}
a.side_menu__item:hover {
    background-color: var(--color-primary);
}

a.side_menu__item > img {
    filter: invert(1);
}

a.side_menu__item {
    color: white;
    text-decoration: none;
}
.side_menu__items > .side_menu__item__wrapper > a.active-link {
    color: #d73e4d;
}

.side_menu__sub_item {
    display: none;
    font-size: .8rem;
}
/* .side_menu__sub_item img {
    height: .9rem;
    width: .9rem;
} */

.side_menu__item__wrapper {
    position: relative;
}

.side_menu__items__toggle {
    position: absolute;
    right: 0;
    top: .2rem;
    cursor: pointer;
}
.side_menu__items__toggle > img {
    filter: invert(0.5);
}