.toasts_wrapper {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    z-index: 100;
}

.toast {
    width: 350px;
    max-width: 100%;
    font-size: .875rem;
    pointer-events: auto;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
    margin-bottom: .5rem;
}

.toast_header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    color: #6c757d;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,.05);
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.toast_body {
    padding: 0.75rem;
    word-wrap: break-word;
}

.toast_header__img {
    width: 1rem;
    height: 1rem;
    border-radius: .3rem;
}

.toast_header__title {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.toast_header__date {
    margin-left: auto;
}

.toast_header__close {
    cursor: pointer;
    user-select: none;
}

.toast_header > .error {
    background-color: var(--color-error);
}
.toast_header > .success {
    background-color: var(--color-success);
}
.toast_header > .warning {
    background-color: var(--color-warning);
}