.top_panel {
    display: flex;
    align-items: center;
    min-height: 3rem;
    box-shadow: 3px 3px 11px 2px grey;
    background-color: rgba(0, 0, 0, .85);
    padding: 1px;
}

.main_menu_toggle {
    cursor: pointer;
    background-image: url("./main_menu_toggle.svg");
    height: 3rem;
    width: 3rem;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-color: var(--color-error);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.main_menu_toggle:hover {
    background-color: #bb2d3b;
    border-color: #b02a37;
}
.main_menu_toggle:focus, .main_menu_toggle:active {
    background-color: #b02a37;
    border-color: #a52834;
    box-shadow: inset 0 0 0 0.25rem rgb(225 83 97 / 50%);
}

.top_panel_title {
    color: white;
    font-size: 1.5rem;
}